# files which should not be included in any repository

# OS directory files
.directory
*/.directory

# cloud9 revision tracking
.c9revisions/*

# editor backup files
*~
*/*~
*kate-swp
*/*kate-swp

# built folder content (.html, .doc, .pdf)
*build/*
*/*build/*

# deployment folder content
*deploy/*
*/*deploy/*

# static folder content in subdirectories
# *static/*
*/*static/*

# keep directories which include .gitkeep
!.git_keep
!*/.git_keep
!.gitkeep
!*/.gitkeep
